<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="../public/css/output.css">
    <script src="../js/login.js" defer></script>
</head>
<body class="bg-gradient-to-r from-white via-lime-500 to-orange-500">
    <nav class="bg-gradient-to-r from-white via-lime-500 to-orange-500 h-20 pt-3.5">
        <a href="/landPage">
          <img src="../assets/unipolidgo.png" alt="logo" class="w-40 inline-block ml-4">
        </a>
        <a href="/room" class="text-black ml-52 font-bold text-xl mt-2">Reserve Now!</a>
        <a href="#" class="text-black ml-20 font-bold text-xl mt-2">Gallery</a>
        <a href="/vip" class="text-black ml-20 font-bold text-xl mt-2">VIP</a>
        <button id="login-register" class="hover:underline bg-gradient-to-r from-purple-600 to-cyan-500 ml-80 shadow-md shadow-black p-3 text-white rounded-full">Login/Register</button>
    </nav>
<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg border-4 border-purple-600" src="../assets/atoron.png" alt="atoron">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg border-4 border-purple-600" src="../assets/atoron1.jpg" alt="atoron1">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg border-4 border-purple-600" src="../assets/atoron2.png" alt="atoron3">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg border-4 border-purple-600" src="../assets/atoron3.jpg" alt="atoron3">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg border-4 border-purple-600" src="../assets/atoron4.jpg" alt="atoron4">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg border-4 border-purple-600" src="../assets/atoron5.jpg" alt="atoron5">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg border-4 border-purple-600" src="../assets/atoron6.jpg" alt="atoron6">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg border-4 border-purple-600" src="../assets/atoron7.jpg" alt="atoron7">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg border-4 border-purple-600" src="../assets/atoron8.jpg" alt="atoron8">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg border-4 border-purple-600" src="../assets/atoron9.jpg" alt="atoron9">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg border-4 border-purple-600" src="../assets/atoron10.jpg" alt="atoron10">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg border-4 border-purple-600" src="../assets/atoron11.jpg" alt="atoron11">
        </div>
    </div>
</div>
</div>
</body>
</html>